<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-in with Google Demo</title>
</head>
<body>
  {{#if isLoggedIn}}
    <h2>Welcome, {{user.displayName}}</h2>
  {{else}}
    <h2>You are not logged in yet</h2>
    <a href="/api/oauth2/google/sign-in">Sign-in with Google</a>
  {{/if}}
</body>
</html>
